@charset "utf-8";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2)
  format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf)
  format('truetype'), url(../fonts/glyphicons-halflings-regular.svg) format('svg')
}
.rslides {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f0f0f0;
}
.rslides * {
  box-sizing: border-box;
}
.rslides-inner {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.rslides-inner li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
.rslides-item {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  height: 100%;
  display: none;
  font-size: 0;
}
.rslides-item:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  overflow: hidden;
  margin-left: -1px;
}
@media (max-width: 640px){
  .rslides-item:before {
    display: none;
  }
}
.rslides-item img{
  vertical-align: middle;
}
.rslides-inner li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides-inner img {
  	max-height:350px;
  height: auto;
  width: 100%;
  border: 0;
}
.rslides-tabs {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1em;
  list-style: none;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.rslides-tabs li {
  margin: 0;
  padding: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.rslides-tabs a {
  font-size: 11px;
  line-height: 1.1;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.rslides-nav {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  text-decoration: none;
}
/*.prev:before {
  content: "\e257";
}
.next:before {
  content: "\e258";
}*/

/**小圆点导航**/
.rslides-1 .rslides-tabs {
  left: 5px;
  right: 5px;
  bottom: 8px;
  text-align: center;
}
.rslides-1 .rslides-tabs a {
  margin: 2px 4px;
  border: 1px solid #FF8800;
  background: #fff;
  color: #000;
  opacity: 0.6;
  text-indent: 0;
  border-radius: 10px;
  font-size: 0;
  width: 8px;
  height: 8px;
}
.rslides-1 .rslides-tabs .rslides-here a {
  border: 1px solid #FF8800;
  background: #FF8800;
  filter: alpha(opacity = 100);
  opacity: 1;
}

/* 带小前后导航按钮 */
.rslides-2 .rslides-nav {
  bottom: 10px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-indent: 1px;
  line-height: 15px;
  color: #bbb;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 10px;
  opacity: filter:alpha(opacity = 70);
  opacity: 0.7;
  *text-indent: 5px;
  *line-height: 14px;
}
.rslides-2 .prev {
  right: 30px;
}
.rslides-2 .next {
  right: 10px;
}
.rslides-2 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
  color: #f80;
}
.rslides-2 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
  color: #f80;
}

/* 带大前后导航按钮 */
.rslides-3 .rslides-nav {
  top: 50%;
  margin: -15px 0 0 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-indent: 3px;
  line-height: 30px;
  color: #fff;
  opacity: filter:alpha(opacity = 60);
  opacity: 0.6;
  *text-indent: 8px;
}
.rslides-3 .prev {
  left: 0;
}
.rslides-3 .next {
  right: 0px;
}
.rslides-3 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-3 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}

/**前后翻+小圆点导航**/
.rslides-4 .rslides-tabs {
  left: 5px;
  right: 5px;
  bottom: 8px;
  text-align: center;
}
.rslides-4 .rslides-tabs a {
  padding: 0px;
  margin: 2px 4px;
  border: 1px solid #FF8800;
  background: #fff;
  color: #000;
  filter: alpha(opacity = 60);
  opacity: 0.6;
  text-indent: 0;
  border-radius: 10px;
  font-size: 0;
  width: 8px;
  height: 8px;
}
.rslides-4 .rslides-tabs .rslides-here a {
  border: 1px solid #FF8800;
  background: #FF8800;
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-4 .rslides-nav {
  top: 50%;
  margin: -15px 0 0 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-indent: 3px;
  line-height: 30px;
  color: #fff;
  opacity: filter:alpha(opacity = 60);
  opacity: 0.6;
  *text-indent: 8px;
}
.rslides-4 .prev {
  left: 0;
}
.rslides-4 .next {
  right: 0px;
}
.rslides-4 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-4 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}

/**带数字导航**/
.rslides-5 .rslides-tabs {
  right: 5px;
  bottom: 7px;
  padding-left: 19px;
}
.rslides-5 .rslides-tabs a {
  font-family: Verdana;
  padding: 0px 3px;
  margin-right: 2px;
  border: 1px solid #333;
  background: #333;
  color: #fff;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}
.rslides-5 .rslides-tabs .rslides-here a {
  border: 1px solid #FF8800;
  background: #FF8800;
  filter: alpha(opacity = 100);
  opacity: 1;
}

/**带数字导航 带标题**/
.rslides-6 .rslides-tabs {
  right: 5px;
  bottom: 7px;
  padding-left: 19px;
}
.rslides-6 .rslides-tabs a {
  font-family: Verdana;
  padding: 0px 3px;
  margin-right: 2px;
  border: 1px solid #999;
  background: #999;
  color: #fff;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}
.rslides-6 .rslides-tabs .rslides-here a {
  border: 1px solid #FF8800;
  background: #FF8800;
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-6 .rslides-item h4 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: normal;
  background: #000;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}
.rslides-6 .rslides-item h4 a {
  display: block;
  padding-left: 12px;
  text-align: left;
  text-decoration: none;
  width: 66%;
  white-space: nowrap;
  overflow: hidden;
  color: #FFF;
}

/**带导航图标 带标题**/
.rslides-7 .rslides-item h4 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: normal;
  background: #000;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}
.rslides-7 .rslides-item h4 a {
  display: block;
  padding-left: 12px;
  text-align: left;
  text-decoration: none;
  width: 77%;
  white-space: nowrap;
  overflow: hidden;
  color: #FFF;
}
.rslides-7 .rslides-nav {
  bottom: 7px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-indent: 3px;
  line-height: 17px;
  color: #fff;
  background-color: #666;
  border: 0px solid #bbb;
  border-radius: 10px;
  opacity: filter:alpha(opacity = 60);
  opacity: 0.6;
  *text-indent: 5px;
  *line-height: 14px;
}
.rslides-7 .prev {
  right: 30px;
}
.rslides-7 .next {
  right: 10px;
}
.rslides-7 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
  color: #f80;
}
.rslides-7 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
  color: #f80;
}

/**带小图导航**/
.rslides-8 .rslides-tabs {
  bottom: 7px;
  left: 5px;
  width: 99%;
}
.rslides-8 .rslides-tabs li {
  float: left;
  margin-right: 1.5%;
  width: 14%;
}
.rslides-8 .rslides-tabs img {
  border: 2px solid #fff;
  width: 100%;
}
.rslides-8 .rslides-tabs .rslides-here img {
  border: 2px solid #FF8800;
}
.rslides-8 .rslides-nav {
  top: 10px;
  width: 18px;
  height: 18px;
  text-indent: -999em;
}
.rslides-8 .rslides-tabs a {
  display: inline;
}
.rslides-8 .prev {
  right: 30px;
}
.rslides-8 .next {
  right: 10px;
}
.rslides-8 .prev:hover {
}
.rslides-8 .next:hover {
}

/**带小图导航，带前后导航按钮**/
.rslides-9 .rslides-tabs {
  white-space: nowrap;
  position: relative;
  left: 5px;
  top: -5px;
  right: 4px;
}
.rslides-9 .rslides-tabs li {
  position: relative;
  margin: 0 3px 0 0;
  padding: 8px 0 0;
  width: 19%;
}
.rslides-9 .rslides-tabs li a {
  _float: left;
}
.rslides-9 .rslides-tabs img {
  border: 2px solid #eee;
  box-sizing: border-box;
  width: 100%;
  *width: 97%;
}
.rslides-9 .rslides-tabs li.rslides-here:before {
  content: "";
  border: 7px solid #f80;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #FF9900 transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -7px;
}
.rslides-9 .rslides-tabs li.rslides-here img {
  border: 2px solid #FF9900;
}
.rslides-9 .rslides-tabs a {
  display: inline;
}

/**带小图导航，带标题及内容摘要**/
.rslides-10 .rslides-inner {
  width: 80%;
}
.rslides-10 .rslides-item {
  top: 1px;
  left: 1px;
  text-align: left;
}
.rslides-10 .rslides-caption {
  font-size: 12px;
  line-height: 1.4;
  padding: 5px;
  color: #666;
}
.rslides-10 .rslides-caption h4 {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.rslides-10 .rslides-caption h4 a {
  color: #333;
  text-decoration: none;
}
.rslides-10 .rslides-tabs {
  width: 20%;
  top: 3px;
  right: 5px;
  height: 100%;
}
.rslides-10 .rslides-tabs a {
  display: inline;
}
.rslides-10 .rslides-tabs li {
  position: relative;
  padding: 0 0 0 8px;
  margin: 0 0 5px 0;
  max-height: 23%;
  display: block;
}
.rslides-10 .rslides-tabs img {
  border: 2px solid #eee;
  width: 100%;
  box-sizing: border-box;
}
.rslides-10 .rslides-tabs li.rslides-here:before {
  content: "";
  border: 7px solid #f80;
  border-style: dashed solid dashed dashed;
  border-color: transparent #FF9900 transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -6px;
  margin-top: -7px;
}
.rslides-10 .rslides-tabs li.rslides-here img {
  border: 2px solid #FF9900;
}

/* 带摘要 */
.rslides-11 .rslides-inner {
}
.rslides-11 .rslides-item {
  top: 1px;
  left: 1px;
  text-align: left;
}
.rslides-11 .rslides-item img {
  width: 66%;
}

.rslides-11 .rslides-caption {
  font-size: 12px;
  line-height: 1.4;
  color: #666;
  padding: 10px;
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 24px;
  overflow: hidden;
}
.rslides-11 div.rslides-caption:before {
  content: none;
}
.rslides-11 .rslides-caption h4 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
}
.rslides-11 .rslides-caption h4 a {
  color: #333;
  text-decoration: none;
}
.rslides-11 .rslides-nav {
  top: 50%;
  margin: -15px 0 0 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-indent: 3px;
  line-height: 30px;
  color: #fff;
  opacity: filter:alpha(opacity = 60);
  opacity: 0.6;
  *text-indent: 8px;
}
.rslides-11 .prev {
  left: 0;
}
.rslides-11 .next {
  right: 34%;
}
.rslides-11 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-11 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-11 .rslides-tabs {
  right: 0;
  bottom: 10px;
  padding-left: 0;
  width: 34%;
  text-align: center;
}
.rslides-11 .rslides-tabs a {
  margin: 2px;
  border: 1px solid #aaa;
  color: #000;
  opacity: 0.4;
  text-indent: 0;
  border-radius: 10px;
  font-size: 0;
  width: 10px;
  height: 10px;
}
.rslides-11 .rslides-tabs .rslides-here a {
  border: 1px solid #aaa;
  background: #aaa;
  margin: 0;
  width: 11px;
  height: 11px;
  opacity: 1;
}
@media (max-width:640px) {
  .rslides-11 .rslides-item img {
    width: 100%;
  }
  .rslides-11 div.rslides-caption {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    height: 30px;
    padding: 5px;
    overflow: hidden;
    text-align: center;
  }
  .rslides-11 div.rslides-caption .h4, .rslides-11 div.rslides-caption h4 {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
  }
  .rslides-11 div.rslides-caption .h4 a, .rslides-11 div.rslides-caption h4 a {
    color: #000;
  }
  .rslides-11 .next {
    right: 0;
  }
  .rslides-11 .rslides-tabs {
    display: none;
  }
}

/* 带摘要 */
.rslides-12 .rslides-inner {
}
.rslides-12 .rslides-item {
  top: 1px;
  left: 1px;
  text-align: left;
}
.rslides-12 .rslides-caption-bg {
  position: absolute;
  width: 34%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  filter: alpha(opacity = 50);
  opacity: 0.5;
}
.rslides-12 .rslides-caption {
  font-size: 12px;
  line-height: 1.4;
  padding: 5% 4% 0 2%;
  color: #ccc;
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
}
.rslides-12 .rslides-caption h4 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
}
.rslides-12 .rslides-caption h4 a {
  color: #fff;
  text-decoration: none;
}
.rslides-12 .rslides-nav {
  top: 50%;
  margin: -15px 0 0 0;
  width: 30px;
  height: 30px;
  font-size: 26px;
  text-indent: 3px;
  line-height: 30px;
  color: #fff;
  opacity: filter:alpha(opacity = 60);
  opacity: 0.6;
  *text-indent: 8px;
}
.rslides-12 .prev {
  left: 0;
}
.rslides-12 .next {
  right: 0;
}
.rslides-12 .prev:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
.rslides-12 .next:hover {
  filter: alpha(opacity = 100);
  opacity: 1;
}
@media (max-width:640px) {
  .rslides-12 .rslides-caption-bg {
    width: 100%;
    top: auto;
    height: 24px;
  }
  .rslides-12 .rslides-caption {
    width: 100%;
    padding: 2%;
    overflow: hidden;
    bottom: 0;
    height: 30px;
  }
  .rslides-12 .rslides-caption h4 {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}

/*使用短标题导航*/
.rslides-13 .rslides-tabs {
  white-space: nowrap;
  bottom: 0;
  width: 100%;
}
.rslides-13 .rslides-tabs li {
  background-color: #000;
  filter: alpha(opacity = 50);
  opacity: 0.5;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  width: 20%;
  height: 30px;
  border-right: 1px solid #333;
  text-align: center;
  overflow: hidden;
}
.rslides-13 .rslides-tabs li a {
  color: #fff;
  display: inline;
  line-height: 30px;
}
.rslides-13 .rslides-tabs .rslides-here {
  background-color: #f80;
  filter: alpha(opacity = 100);
  opacity: 1;
  border-color: #f90;
}